#header {
    width: 100%;
    box-shadow: 0 100px 143px -100px $shadow-grey;
    
    .header__logo {
        display: block;
        margin: auto;
        padding: 150px;
        margin: auto;
        text-align: center;
        
        img {
            height: 40vh;
        }
    }
}