$blackest-black: #000000;
$whitest-white: #ffffff;
$opacity-black: rgba(0, 0, 0, 0.7);
$bright-grey: #ededed;
$shadow-grey: #bababa;
$navigation-text: #686868;
$logo-bright-blue: #2aa8e0;
$logo-dark-blue: #2075a0;