#cookie-information {
  width: 500px;
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  position: fixed;
  bottom: -1000px;
  right: 20px;
  padding: 15px;
  z-index: 250;
}
#cookie-information__agree-button {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  line-height: 2;
  padding: 0 20px;
  margin: 10px auto 0;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
#cookie-information__agree-button:hover {
  background: #ffffff;
  color: #000000;
}

#header {
  width: 100%;
  box-shadow: 0 100px 143px -100px rgba(0, 0, 0, 0.3);
}
#header .header__logo {
  display: block;
  margin: auto;
  padding: 150px;
  text-align: center;
}
#header .header__logo img {
  height: 20vmax;
  min-height: 250px;
}

#navigation {
  height: 65px;
}

.navigation {
  z-index: 500;
  width: 100%;
  height: 65px;
}
.navigation.navigation-fixed-top {
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.3);
  min-width: 940px;
}
.navigation.navigation-fixed-top .navigation__list__item:not(.language-selector):hover, .navigation.navigation-fixed-top .navigation__list__item:not(.language-selector) .selected {
  background: none;
  box-shadow: none;
}
.navigation__list {
  list-style-type: none;
}
.navigation__list__item {
  float: left;
}
.navigation__list__item > * {
  text-align: center;
  padding: 20px 30px;
  display: block;
  text-decoration: none;
  font-size: 25px;
  color: #686868;
}
.navigation__list__item.pull-right {
  float: right;
}
.navigation__list__item:hover, .navigation__list__item .selected {
  color: #2aa8e0;
  background: white;
  box-shadow: 0 45px 60px -10px rgba(0, 0, 0, 0.3);
}
.navigation__list__item:hover p, .navigation__list__item .selected p {
  transform: scale(1.1);
}

.language-selector__list {
  width: 1.5em;
}
.language-selector__list:hover .language-selector__list__item {
  display: block;
}
.language-selector__list:hover .language-selector__list__item:first-child {
  color: #2aa8e0;
}
.language-selector__list__item:not(:first-child) {
  display: none;
  margin-top: 30px;
  cursor: pointer;
}
.language-selector__list__item:not(:first-child):hover {
  transform: scale(1.1);
}

#about {
  min-height: 100vh;
}

#products {
  min-height: 100vh;
  position: relative;
  z-index: 200;
  overflow: hidden;
}

.products {
  max-width: 2560px;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  min-height: 100vh;
  font-family: sans-serif;
}
.products__caption {
  z-index: 100;
  width: 30%;
  color: #000000;
  transition: 0.5s;
  font-size: 30px;
  line-height: 2.2;
  padding-left: 2vw;
}
@media all and (max-width: 1350px) {
  .products__caption {
    width: 48%;
  }
}
.products__caption--small {
  font-size: 25px;
}
.products__caption--white {
  color: #ffffff;
}
.products__tiles {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products__tiles__title {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin: 90px 0 25px 0;
}
.products__tiles__backdrop {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}
.products__tiles__list {
  width: 660px;
  height: 660px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.products__tiles__list:hover + .products__tiles__list__background--default {
  opacity: 0;
  transform: scale(1);
}
.products__tiles__list__title {
  width: 210px;
  height: 210px;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 20px;
  line-height: 1.7;
  transition: 0.2s;
  background-color: transparent;
}
.products__tiles__list__title p {
  width: 100%;
  margin: 0;
  height: 100%;
  border: 1px solid #2075a0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 60px;
}
@media all and (max-width: 1450px) {
  .products__tiles__list__title {
    width: 40vw;
    height: initial;
    min-height: 50px;
  }
}
.products__tiles__list__title:hover {
  transform: scale(1.025);
}
.products__tiles__list__title:hover p {
  box-shadow: 0 0 150px -30px #000000;
}
.products__tiles__list__title:hover + .products__tiles__list__background {
  opacity: 1;
  transform: scale(1);
}
.products__tiles__list__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%);
  transform: scale(1.015);
  transition: transform 1.5s ease, opacity 1s ease;
}
.products__tiles__list__background--default {
  opacity: 1;
  background-image: url("../img/products-background.jpg");
}

#contact {
  min-height: calc(100vh - (100vh - 453px));
  padding-top: calc(100vh - 453px);
}
#contact .contact {
  width: 100%;
  height: 453px;
  background-color: #2075a0;
  color: white;
  position: relative;
}
#contact .contact > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#contact .contact h3 {
  font-size: 20px;
  margin: 15px 0 0;
}
#contact .contact p {
  font-size: 17px;
  margin: 0;
  line-height: 1.5;
}
#contact .contact__specialists {
  padding: 0 2%;
  width: 25%;
}
#contact .contact__company {
  padding: 0 2%;
  width: 33%;
}
#contact .contact__buttons {
  position: absolute;
  bottom: 20px;
  margin-left: 2%;
}
#contact .contact__buttons .button {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  margin-right: 10px;
  text-align: center;
  border: 2px solid #ffffff;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.2s;
  cursor: pointer;
  font-weight: bold;
}
#contact .contact__buttons .button:hover {
  background-color: #ffffff;
  color: #2075a0;
}
#contact .contact a {
  text-decoration: none;
}
#contact .contact__map {
  width: 33%;
}
#contact .contact__map iframe {
  width: 100%;
}

#footer {
  padding: 10px 50px;
  font-size: 13px;
  color: #ededed;
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  min-width: 940px;
  margin: auto;
}
body .page-wrapper {
  max-width: 2560px;
  margin: auto;
}

.content {
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

.hidden {
  display: none !important;
}

section h2 {
  padding: 140px 0 10px;
  margin: 0 auto 80px;
  font-size: 35px;
  width: 50%;
  text-align: center;
  color: #686868;
  box-shadow: 0 55px 68px -55px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #2075a0;
  text-transform: uppercase;
}
section p {
  line-height: 2;
  text-align: justify;
  font-size: 20px;
  margin: 30px 0;
}

/*# sourceMappingURL=main.css.map */
