@import "scss/palette.scss";
@import "scss/cookie-information.scss";
@import "scss/header.scss";
@import "scss/navigation.scss";
@import "scss/about.scss";
@import "scss/products.scss";
@import "scss/contact.scss";
@import "scss/footer.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    min-width: 940px;
    margin: auto;
    
    .page-wrapper {
        max-width: 2560px;
        margin: auto;
    }
}

.content {
    width: 80%;
    max-width: 1100px;
    margin: auto;
}

section {
    h2 {
        padding: 140px 0 10px;
        margin: 0 auto 80px;
        font-size: 35px;
        width: 50%;
        text-align: center;
        color: $navigation-text;
        box-shadow: 0 55px 68px -55px $shadow-grey;
        border-bottom: 1px solid $logo-dark-blue;
        text-transform: uppercase;
    }

    p {
        line-height: 2;
        text-align: justify;
        font-size: 20px;
        margin: 30px 0;
    }
}
