@import "scss/palette.scss";
@import "scss/header.scss";
@import "scss/navigation.scss";

html {
    scroll-behavior: smooth;
}

.content {
    width: 80%;
    max-width: 1100px;
    margin: auto;
}

#about, #projects, #collaboration, #contact {
    height: 100vh
}